@font-face {font-family:"MuseoSansCyrl100"; src:url("../fonts/MuseoSansCyrl100.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"MuseoSansCyrl500"; src:url("../fonts/MuseoSansCyrl500.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"MuseoSansCyrl900"; src:url("../fonts/MuseoSansCyrl900.woff") format("woff"); font-weight:normal; font-style:normal}

html {min-width:480px}

body {min-width:480px; margin:0; padding:0; font:16px/19px MuseoSansCyrl500, sans-serif; color:#3cbdd5; background:#000}

@media screen and (max-width:767px) {
    body {font-size:26px; line-height:31px}
}

a,
a:link,
a:visited {outline:none; color:#fff; text-decoration:none; transition:color .3s ease}
a:hover,
a:focus {color:#3cbdd5; text-decoration:none}

img {border:none}

.wrapper {min-width:480px; width:100%; position:relative; overflow:hidden}

.container {max-width:988px; padding:0 20px; margin:0 auto; position:relative; width:auto}
.container:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

header {position:fixed; left:0; top:0; right:0; z-index:99; height:98px; background:#000; overflow:hidden; transition:top .5s ease}
.play header {top:-98px}
.playscroll header {top:0}

.header-bg {position:absolute; left:-10px; top:-10px; right:-10px; bottom:-100px; padding:10px 0 0 0; overflow:hidden; -webkit-filter:blur(9px); -moz-filter:blur(9px); -mz-filter:blur(9px); -o-filter:blur(9px); filter:blur(9px)}
.header-bg-inner {margin:0 -100px; padding:0 100px}

.logo {float:left; width:85px; height:40px; background:url(../images/logo.png); margin:28px 0 0 0; position:relative; cursor:pointer}

nav {float:left; font:26px/98px MuseoSansCyrl900, sans-serif; text-transform:uppercase; position:relative; letter-spacing:-1px}
nav ul {margin:0; padding:0; list-style:none}
nav ul li {float:left; margin:0 0 0 93px; padding:0}
nav ul li a {display:block; height:98px; color:#fff; position:relative}
nav ul li a:hover {color:#fff}
nav ul li.active a:after,
nav ul li a:hover:after {content:""; display:block; position:absolute; left:0; bottom:0; right:0; height:8px; background:#3cbdd5}

@media screen and (max-width:1439px) {
    nav ul li {margin:0 0 0 50px}
}

@media screen and (max-width:1007px) {
    nav {font-size:20px}
    nav ul li {margin:0 0 0 40px}
}

@media screen and (max-width:767px) {
    nav {float:none; position:absolute; left:0; top:0; right:0; font-size:40px; text-align:center}
    nav ul {display:inline-block; vertical-align:top}
    nav ul li {float:none; margin:0; display:none}
    nav ul li.active {display:block}
}

.phone {position:absolute; white-space:nowrap; position:absolute; left:100%; margin-left:-76px; top:0; font:26px/98px MuseoSansCyrl100, sans-serif}
.phone a {color:#fff}

@media screen and (max-width:1439px) {
    .phone {left:auto; right:20px}
}

@media screen and (max-width:1007px) {
    .phone {font-size:20px}
}

@media screen and (max-width:767px) {
    .phone {display:none}
}

.mobile-menu-link {display:none}

@media screen and (max-width:767px) {
    .mobile-menu-link {display:block; position:absolute; right:20px; top:31px; border-top:8px solid #fff; border-bottom:8px solid #fff; height:40px; width:46px}
    .mobile-menu-link:before {content:""; display:block; position:absolute; left:0; top:8px; right:0; height:8px; background:#fff}
}

.mobile-menu {display:none}

@media screen and (max-width:767px) {
    .mobile-menu-open {overflow:hidden}
    .mobile-menu-open body {overflow:hidden}
    .mobile-menu-open .mobile-menu {display:block; position:fixed; left:0; top:0; right:0; bottom:0; background:#000; z-index:9999; overflow:auto}
    .mobile-menu .logo {position:absolute; margin:0; left:20px; top:28px}
    .mobile-menu-close {position:absolute; display:block; width:39px; height:39px; background:url(../images/mobile-menu-close.png); position:absolute; right:21px; top:31px}
    .mobile-menu-list {text-align:center; font:40px/98px MuseoSansCyrl900, sans-serif; text-transform:uppercase; position:relative; letter-spacing:-1px}
    .mobile-menu-list ul {margin:0; padding:0; list-style:none}
    .mobile-menu-list ul li {margin:10px 0 0 0; padding:0}
    .mobile-menu-list ul li:first-child {margin:0}
    .mobile-menu-list ul li a {display:inline-block; height:98px; color:#fff; position:relative}
    .mobile-menu-list ul li a:after {content:""; display:block; position:absolute; left:0; bottom:0; right:0; height:8px; background:#3cbdd5}
    .mobile-menu-list ul li.active a:after {background:#fff}
    .mobile-phone {text-align:center; color:#fff; font:40px/68px MuseoSansCyrl100, sans-serif; padding:47px 0 0 0}
    .mobile-phone a {color:#fff; text-decoration:none}
    .mobile-call {padding:31px 0 0 0}
    .mobile-call a {display:block; margin:0 auto; width:216px; height:60px; background:#3cbdd5; font:20px/60px MuseoSansCyrl900, sans-serif; text-transform:uppercase; text-align:center; color:#000; text-decoration:none}
    .mobile-call-text {text-align:center; font:20px/30px MuseoSansCyrl900, sans-serif; text-transform:uppercase; padding:41px 0}
}

.we-poster {height:0; padding:56.25% 0 0 0; position:relative}
.we-poster iframe {position:absolute; left:0; top:0; width:100%; height:100%; display:block; border:none}

.we-block:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.we-block-title {text-transform:uppercase; font:56px/68px MuseoSansCyrl900, sans-serif; color:#fff; letter-spacing:-3px}
.we-block-text {padding:63px 0 0 0}
.we-block-text p {margin:0; padding:0}
.we-block-text p+p {margin:19px 0 0 0}

@media screen and (max-width:1007px) {
    .we-block-title {font-size:40px; line-height:48px}
}

@media screen and (max-width:767px) {
    .we-block-title {padding:0 25px 0 25px}
    .we-block-title br {display:none}
    .we-block-text {padding:16px 25px 0 25px}
    .we-block-text p+p {margin:31px 0 0 0}
}

.welcome {margin:107px 0 0 0; position:relative}
.welcome .container {position:static}
.welcome:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.welcome-logos {line-height:0; padding:5px 0 0 0}
.welcome-logos a {float:left}
.welcome-logos a+a {margin:0 0 0 92px}
.welcome-text {text-transform:uppercase; font:26px/31px MuseoSansCyrl100, sans-serif; color:#fff; letter-spacing:-1px}
.welcome-text span {font-family:MuseoSansCyrl900, sans-serif; color:#3cbdd5}

@media screen and (max-width:1007px) {
    .welcome-logos a+a {margin:0 0 0 42px}
    .welcome-text br {display:none}
}

@media screen and (max-width:767px) {
    .welcome-logos {padding:5px 25px 0 25px}
    .welcome-logos:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
    .welcome-logos a+a {float:right; margin:0}
    .welcome-logos img {width:180px}
    .welcome-text {font-size:32px; line-height:38px; padding:70px 25px 0 25px}
}

.welcome-detail {display:none; position:absolute; left:0; top:-86px; right:0; bottom:-90px; padding:86px 0 0 0; overflow:hidden}
.welcome-detail-logos {line-height:0; padding:5px 0 0 0}
.welcome-detail-logo {float:left; position:relative}
.welcome-detail-logo-bg {position:absolute; width:0; height:0; left:73px; top:57px; transform:translate(-50%, -50%); background:#2f5fa0; border-radius:50%}
.welcome-detail-logo-bg-2 {background:#a20f13}
.welcome-detail-logo+.welcome-detail-logo {margin:0 0 0 92px}
.welcome-detail-logo img {position:relative; z-index:1}
.welcome-detail-logo a {position:relative; z-index:1}
.welcome-detail-logo a img {opacity:.1}
a.welcome-detail-logo-link {display:block; margin:32px 0 0 0; width:144px; height:40px; background:#3cbdd5; font:13px/40px MuseoSansCyrl900, sans-serif; text-transform:uppercase; text-align:center; color:#000}
.welcome-detail-text {font:18px/22px MuseoSansCyrl100, sans-serif; color:#fff; position:relative; z-index:1}
.welcome-detail-close {position:absolute; right:78px; top:88px; display:block; width:27px; height:27px; background:url(../images/welcome-close.png); z-index:1}
a.welcome-detail-text-link {display:none}

@media screen and (max-width:1007px) {
    .welcome-detail-logo+.welcome-detail-logo {margin:0 0 0 42px}
    .welcome-detail-close {top:30px}
}

@media screen and (min-width:768px) {
    .welcome-detail-logo-bg-2 {margin-left:0 !important}
}

@media screen and (max-width:767px) {
    .welcome-detail {padding:26px 0 0 0; bottom:-120px}
    .welcome-detail+.welcome-detail {bottom:-90px}
    .welcome-detail .container {padding:0}
    .welcome-detail-close {right:21px; bottom:50px; top:auto; width:39px; height:39px; background:url(../images/welcome-close-mobile.png)}
    .welcome-detail-logo {float:none; display:none}
    .welcome-detail-logo+.welcome-detail-logo {margin:0}
    .welcome-detail-logo.active {display:block; width:70px; padding:0 0 0 25px}
    .welcome-detail-logo a {display:none}
    .welcome-detail-logo img {width:180px; visibility:hidden}
    .welcome-detail-logo.open img {visibility:visible}
    .welcome-detail-text {font:23px/28px MuseoSansCyrl500, sans-serif; padding:25px; background:#2f5fa0; min-height:400px}
    .welcome-detail-text-2 {background:#a20f13}
    a.welcome-detail-text-link {display:block; margin:25px auto 0 auto; width:216px; height:60px; background:#3cbdd5; font:20px/60px MuseoSansCyrl900, sans-serif; text-transform:uppercase; text-align:center; color:#000}
    .welcome-detail-logo-bg {left:169px; top:78px}
    .welcome-detail-logo-bg-2 {left:169px; top:78px}
}

.gallery {margin:109px 0 0 0}

.gallery-big-list {font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; position:relative; overflow:hidden; max-width:1440px; margin:0 auto}
.gallery-big-item {display:inline-block; vertical-align:top; width:100%; font-size:16px; line-height:19px; letter-spacing:0; white-space:normal; padding:31px 0 0 0}
.gallery-big-preview {height:341px; position:relative; display:block}
.gallery-big-preview-poster {position:absolute; left:0; top:0; right:0; bottom:0; background-repeat:no-repeat; background-position:center; background-size:cover}
.gallery-big-preview-shadow-left {position:absolute; left:0; top:0; bottom:0; width:281px; background:url(../images/gallery-big-shadow-left.png); background-size:100% auto; pointer-events:none}
.gallery-big-preview-shadow-right {position:absolute; right:0; top:0; bottom:0; width:281px; background:url(../images/gallery-big-shadow-right.png); background-size:100% auto; pointer-events:none}
.gallery-title {color:#fff; text-transform:uppercase; margin:-11px 0 0 0; position:relative; letter-spacing:-1px}
.gallery-title-we {font:26px/34px MuseoSansCyrl900, sans-serif; color:#3cbdd5; position:absolute; left:0; top:-18px}
.gallery-title-text {font:56px/68px MuseoSansCyrl900, sans-serif}
.gallery-title-descr {font-size:18px; line-height:21px; margin:-8px 0 0 0}
.gallery-subscribe {color:#fff; text-transform:uppercase; padding:8px 0 0 0; letter-spacing:-1px}
.gallery-subscribe-title {font:26px/34px MuseoSansCyrl100, sans-serif}
.gallery-subscribe-free {font:26px/34px MuseoSansCyrl900, sans-serif}
.gallery-subscribe-free span {display:inline-block; vertical-align:top; padding:0 20px; margin:0 0 0 -20px; background:#a20f13}
a.gallery-big-play {position:absolute; left:50%; bottom:-35px; width:70px; height:70px; display:block; margin:0 0 0 -35px; border-radius:50%; background:#3cbdd5; z-index:1; transition:background .3s ease}
a.gallery-big-play:after {content:""; display:block; width:0; height:0; border-left:19px solid #fff; border-top:11px solid transparent; border-bottom:11px solid transparent; position:absolute; left:28px; top:24px}
a.gallery-big-play:hover {background:#305fa0}
.gallery-big-list .slick-prev,
.gallery-big-list .slick-next {display:block; position:absolute; z-index:10; top:341px; width:73px; height:64px; border:none; border-radius:0; background:none; margin:0; padding:0; -webkit-appearance:none; cursor:pointer}
.gallery-big-list .slick-prev:before,
.gallery-big-list .slick-next:before {content:""; display:block; position:absolute; left:50%; top:50%; width:23px; height:14px; margin:-7px 0 0 -12px; background:url(../images/arrows.png)}
.gallery-big-list .slick-prev {left:50%; margin-left:-654px}
.gallery-big-list .slick-next {right:50%; margin-right:-654px}
.gallery-big-list .slick-next:before {background-position:-24px top}
.gallery-title-descr-mobile {display:none}

@media screen and (max-width:1439px) {
    .gallery-big-list .slick-prev {left:0; margin-left:0}
    .gallery-big-list .slick-next {right:0; margin-right:0}
}

.gallery-big-preview-poster-mobile {display:none; position:absolute; left:0; top:0; right:0; bottom:0; background-repeat:no-repeat; background-position:center; background-size:cover}

@media screen and (max-width:767px) {
    .gallery-big-preview {height:500px}
    .gallery-big-preview-poster {display:none}
    .gallery-big-preview-poster-mobile {display:block}
    .gallery-title {padding:0 0 0 100px; margin:0; top:-13px}
    .gallery-title-we {left:100px}
    .gallery-title-descr {display:none}
    .gallery-subscribe  {padding:0 0 0 100px; margin:-13px 0 0 0}
    .gallery-big-play {width:140px; height:140px; bottom:-70px; margin:0 0 0 -70px}
    .gallery-big-play:after {border-left-width:38px; border-top-width:23px; border-bottom-width:23px; left:56px; top:47px}
    .gallery-big-list .slick-prev,
    .gallery-big-list .slick-next {top:493px; width:94px; height:76px}
    .gallery-big-list .slick-prev:before,
    .gallery-big-list .slick-next:before {width:44px; height:26px; margin:-13px 0 0 -22px; background:url(../images/arrows-mobile.png)}
    .gallery-big-list .slick-next:before {background-position:-45px top}
    .gallery-big-list .slick-prev {left:0; margin-left:0}
    .gallery-big-list .slick-next {right:0; margin-right:0}
    .gallery-title-descr-mobile {display:block; position:absolute; left:0; bottom:81px; right:0; text-align:center; color:#fff; text-transform:uppercase; font-size:22px; line-height:26px}
}

.gallery-big-content {padding:0 0 46px 0}
.gallery-big-info {margin:-7px 0 0 0}
.gallery-big-info-title {text-transform:uppercase; color:#fff; font:36px/42px MuseoSansCyrl100, sans-serif; padding:0 35px 0 0; letter-spacing:-1px}
.gallery-big-info-title-original {text-transform:uppercase; font-size:26px; line-height:32px; margin:-2px 0 0 0; letter-spacing:-1px}
.gallery-big-info-tech {color:#fff; padding:18px 0 0 0}
.gallery-big-info-stat {padding:15px 0 0 0}
.gallery-big-info-imdb {float:left}
.gallery-big-info-imdb a,
.gallery-big-info-imdb span {display:block; width:71px; height:35px; background:url(../images/imdb.png); text-align:center; text-decoration:none; color:#000; padding:0 0 0 36px; font:14px/35px MuseoSansCyrl900, sans-serif}
.gallery-big-info-age {float:left; color:#fff; font-size:36px; line-height:35px; margin:0 0 0 26px}
.gallery-big-info-res {float:left; color:#fff; font:36px/35px MuseoSansCyrl900, sans-serif; margin:0 0 0 21px}
.gallery-big-text {padding:62px 0 0 0}

@media screen and (max-width:1007px) {
    .gallery-big-info  {padding-left:60px}
    .gallery-big-text {padding-left:15px}
}

@media screen and (max-width:767px) {
    .gallery-big-content  {padding:0}
    .gallery-big-info {padding:117px 25px 0 25px; margin:0}
    .gallery-big-info-title {font-size:46px; line-height:56px; padding:0}
    .gallery-big-info-title-original {font-size:32px; line-height:40px}
    .gallery-big-text {padding:39px 25px 0 25px}
}

.gallery-list {position:relative; padding:0 110px; max-width:1440px; margin:0 auto}
.gallery-list-inner {font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; position:relative; width:100%}
.gallery-list-inner:before {content:""; display:block; position:absolute; z-index:9; left:0; top:0; bottom:0; width:100px; background:url(../images/gallery-list-shadow-left.png); pointer-events:none}
.gallery-list-inner:after {content:""; display:block; position:absolute; z-index:9; right:0; top:0; bottom:0; width:100px; background:url(../images/gallery-list-shadow-right.png); pointer-events:none}
.gallery-list-item {display:inline-block; vertical-align:top; white-space:normal; width:242px; padding:7px 0 0 0}
.gallery-list-item-inner {margin:0 1px}
.gallery-list-item-preview {position:relative; top:0; transition:top .5s ease}
.gallery-list-item-inner:hover .gallery-list-item-preview,
.gallery-list-item.active .gallery-list-item-preview {top:-7px}
.gallery-list-item-preview img {display:block; width:100%}
.gallery-list-item-preview span {position:absolute; left:9px; bottom:5px; color:#fff; font-size:16px; line-height:19px; letter-spacing:0}
.gallery-list-item-preview .video-link {display:none; position:absolute; left:0; top:0; right:0; bottom:0}
.gallery-list-item.active .gallery-list-item-preview .video-link {display:block}
.gallery-list-item-preview em {position:absolute; left:50%; top:50%; width:36px; height:36px; display:block; margin:-18px 0 0 -18px; border-radius:50%; background:#3cbdd5; z-index:1; transition:all .3s ease}
.gallery-list-item-preview em:after {content:""; display:block; width:0; height:0; border-left:10px solid #fff; border-top:5px solid transparent; border-bottom:5px solid transparent; position:absolute; left:50%; top:50%; margin:-5px 0 0 -5px}
.gallery-list-item-preview:hover em {background:#305fa0}
.gallery-list-item-title {font-size:18px; line-height:21px; text-transform:uppercase; letter-spacing:0; padding:15px 0 0 0}
.gallery-list-item.active .gallery-list-item-title {font-family:MuseoSansCyrl900, sans-serif}
.gallery-list-item.active .gallery-list-item-title a {color:#3cbdd5}
.gallery-list .slick-prev,
.gallery-list .slick-next {display:block; position:absolute; z-index:10; top:80px; width:23px; height:14px; border:none; border-radius:0; background:url(../images/arrows.png); margin:0; padding:0; -webkit-appearance:none; cursor:pointer}
.gallery-list .slick-prev {left:-23px}
.gallery-list .slick-next {right:-23px; background-position:-24px top}

@media screen and (max-width:1007px) {
    .gallery-list {padding:0}
}

@media screen and (max-width:767px) {
    .gallery-list {display:none}
}

.vip {padding:141px 0 0 0}
.vip-content-we {text-transform:uppercase; font:26px/31px MuseoSansCyrl900, sans-serif}
.vip-content-title {color:#fff; text-transform:uppercase; font:56px/68px MuseoSansCyrl900, sans-serif; margin:-13px 0 0 0; letter-spacing:-3px}
.vip-content {width:600px; margin:82px auto 0 auto; position:relative}
.vip-content:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.vip-content-item {float:left; width:300px; text-align:left}
.vip-content-item:last-child {text-align:right}
.vip-content-item-inner {display:inline-block; vertical-align:top; text-align:left}
.vip-content-sep {position:absolute; left:50%; top:21px; margin-left:-35px; width:70px; height:70px; border-radius:50%; background:#3cbdd5; color:#fff; text-align:center; font:16px/70px MuseoSansCyrl900, sans-serif}
.vip-content-item-text {text-transform:uppercase; color:#fff; line-height:24px; padding:84px 0 0 0}
.vip-content-item-text span {font-family:MuseoSansCyrl900, sans-serif; color:#a20f13}
a.vip-content-item-link {display:block; margin:44px 0 0 0; width:144px; height:40px; background:#3cbdd5; font:13px/40px MuseoSansCyrl900, sans-serif; text-transform:uppercase; text-align:center; color:#000; transition:background .3s ease}
a.vip-content-item-link:hover {background:#305fa0}

@media screen and (max-width:767px) {
    .vip {padding:141px 0 0 0}
    .vip-content-we {font-size:32px; line-height:36px}
    .vip-content-title {margin:-2px 0 0 0}
    .vip-content {width:auto; margin:0; padding:46px 0 0 0}
    .vip-content-item {width:auto}
    .vip-content-item:last-child {float:right}
    .vip-content-item-logo img {width:146px}
    .vip-content-item:last-child .vip-content-item-logo {padding-left:30px}
    .vip-content-item:last-child .vip-content-item-text {padding-left:30px}
    .vip-content-item-text {font-size:22px; line-height:30px; max-width:180px}
    a.vip-content-item-link {width:216px; height:60px; font-size:20px; line-height:60px}
    .vip-content-sep {top:162px; text-transform:uppercase}
}

footer {padding:95px 0 48px 0}
footer:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.copyrights {float:left; color:#fff; text-transform:uppercase; font-family:MuseoSansCyrl100, sans-serif; padding:12px 0 0 72px}
.social {float:right; line-height:0; padding:0 72px 0 0}
.social a {float:left; margin:0 0 0 9px}
.developer {clear:right; float:right; font-size:14px; margin:30px 72px 0 0}

@media screen and (max-width:767px) {
    footer {padding:80px 0 67px 0}
    .social {float:none; font-size:0; padding:0; letter-spacing:-1px; text-align:center}
    .social a {display:inline-block; float:none; vertical-align:middle; margin:0 4px}
    .copyrights {float:none; font-size:16px; text-align:center; padding:38px 0 0 0}
    .developer {float:none; margin-right:0; text-align:center}
}

.video-window {display:none; position:fixed; left:0; top:0; right:0; bottom:0; z-index:9999; background:rgba(0, 0, 0, .8)}
.video-window-content {background:#000; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:1008px}
.video-player {position:relative; height:567px}
.video-player iframe {position:absolute; left:0; top:0; width:100% !important; height:100% !important}
.video-window-close {display:block; position:absolute; width:27px; height:27px; background:url(../images/welcome-close.png); right:-37px; top:-37px}

@media screen and (max-width:1007px) {
    .video-window-content {width:560px}
    .video-player {height:315px}
}

@media screen and (max-width:767px) {
    .video-window-content {width:460px}
    .video-player {height:259px}
    .video-window-close {right:0}
}

.video-window-open body {overflow:hidden}
.video-window-open .video-window {display:block}

.up {display:none; position:fixed; right:72px; bottom:50px; z-index:990; width:50px; height:50px; background:url(../images/up.svg) no-repeat center; background-size:cover; margin:0; padding:0; -webkit-appearance:none; cursor:pointer}